In [3]:
import numpy as np

import pandas as pd

In [27]:
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

### BDI2 Data Frame

In [8]:
df_bdi2 = pd.read_csv('../data/data_BDI2.csv')
df_bdi2

C:\Users\Praveena\AppData\Local\Temp\ipykernel_19428\876302290.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_bdi2 = pd.read_csv('../data/data_BDI2.csv')

,StudentID,studentAssessmentID,resultStudentDomainID,Student TEIDS ID,domainID,domainText,ScoreTypeID,ScoreTypeText,StaffExternalID,testDate,...,AESign,isSSRequired,stdDevScore1,stdDevScore2,stdDevScore3,NCESign,totalCSS,totalCSSMin,totalCSSMax,NormType
0,2224693,8625078,138104116,52101,7,Self-Care,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,1.0,NaN,NaN,NaN,NaN,322.0,301.0,343.0,2
1,2224693,8625078,138104117,52101,10,Adult Interaction,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,1.0,NaN,NaN,NaN,NaN,413.0,403.0,423.0,2
2,2224693,8625078,138104118,52101,12,Self-Concept and Social Role,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,1.0,NaN,NaN,NaN,NaN,365.0,355.0,375.0,2
3,2224693,8625078,138104119,52101,14,Receptive Communication,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,1.0,NaN,NaN,NaN,NaN,343.0,333.0,353.0,2
4,2224693,8625078,138104120,52101,15,Expressive Communication,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,1.0,NaN,NaN,NaN,NaN,288.0,267.0,309.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325681,2319431,8761874,140602545,NaN,13,Communication,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,<,381.0,373.0,388.0,2
325682,2319431,8761874,140602546,NaN,16,Motor,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,427.0,420.0,433.0,2
325683,2319431,8761874,140602547,NaN,19,Perceptual Motor,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
325684,2319431,8761874,140602548,NaN,20,Cognitive,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,433.0,424.0,441.0,2
325685,2319431,8761874,140602549,NaN,22,Reasoning and Academic Skills,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [9]:
# no_nulls_eco_exit = df_eco_data.dropna(axis=0, subset=['BDI 3\nECO_Exit_DATE'])
# no_nulls_eco_exit

In [ ]:
# df_merge = pd.merge(df_bdi2, df_bdi3, left_on='Student TEIDS ID', right_on='TEIDS Child ID', how='inner')
# df_merge

In [ ]:
# df_eco = pd.read_excel('../data/NSS_ECO Data Ind 3 FFY 2023-24 20241211 (1).xlsx' , sheet_name='ECO with Exit23-24 ') 
# df_eco

In [31]:
# df_eco = pd.read_csv('../data/NSS_ECO Data Ind 3 FFY 2023-24 20241211.xlsx - ECO with Exit23-24 .csv') 
# df_eco.head(2)

C:\Users\Praveena\AppData\Local\Temp\ipykernel_19428\4199224488.py:1: DtypeWarning: Columns (89,93,94,95,98,102,106,107,108,109,110,128,129,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  df_eco = pd.read_csv('../data/NSS_ECO Data Ind 3 FFY 2023-24 20241211.xlsx - ECO with Exit23-24 .csv')

,DISTRICT,CHILD_ID,Child ID_ Assessement point,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,ExitIS_SOCIAL_PROGRESS,ExitIS_KNWLEDGE_PROGRESS,ExitIS_APPROPRIATE_ACTION_PROGRESS,State ID,LAST_NAME,FIRST_NAME,GENDER,RACE,DOB,COUNTY ID,COUNTY NAME,Service Coordinator,Initial IFSP Date,Exit Reason,Exit Date \nOr end of FY,Current LEA,Transition LEA,Transition Conf. Date,<Lookup> Expected Rating,<Calc> Months in Program,<Calc> Entrance Age (months),<Calc> Day count,<Calc> Month count,<Calc> Missing Entrance Date,<Calc> Missing Exit Dates,<Calc> Missing Both Ent & Exit Dates,<Calc> Record Count,<Calc> Day count 182 days +,<Calc> Exit Day cnt < 182 days,OC1 No Exit Reason,OC2 No Exit Reason,OC3 No Exit Reason,OC1 Missing Exit Rating,OC2 Missing Exit Rating,OC3 Missing Exit Rating,OC1 Conc,OC2 Conc,OC3 Conc,OC1 Impossible Combination,OC2 Impossible Combination,OC3 Impossible Combination,Impossible Outcome Total,OC1 Not Expected,OC2 Not Expected,OC3 Not Expected,<Calc> Day count less than 182,OC1 Useable Data,OC2 Useable Data,OC3 Useable Data,Usable Data on at least one Outcome,Usable Data on All 3 Outcomes,OC1 - a,OC1 - b,OC1 - c,OC1 - d,OC1 - e,OC1 Data Check,OC2 - a,OC2 - b,OC2 - c,OC2 - d,OC2 - e,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,OC3 Data Check,Days btw Initial and Exit,Days btw I-IFSP to Exit ECO,Days btw I-IFSP to entry ECO,TEIDS\nECO_Entry_DATE,TEIDS\nECO Entry SOCIAL_SCALE,TEIDS\nECO Entry KNOWLEDGE_SCALE,TEIDS\nECO Entry APPROPRIATE_ACTION_SCALE,Found Exit,Found Continued,ECO_Continued_DATE,Continued SOCIAL_SCALE,Continued KNOWLEDGE_SCALE,Continued APPROPRIATE_ACTION_SCALE,Continued IS_SOCIAL_PROGRESS,Continued IS_KNOWLEDGE_PROGRESS,Continued IS_APPROPRIATE_ACTION_PROGRESS,Days between Exit ECO to Exit\n(Exit date - Exit ECO date),More than 182 days btwn ECO (continued) and Exit?,AEPSi\nECO_Entry_DATE,AEPSi \nEnt SOCIAL_SCALE,AEPSI\nEnt KNOWLEDGE_SCALE,AEPSi \nEnt APPROPRIATE_ACTION_SCALE,AEPSi \nECO_Exit_DATE,AEPSi \nExit SOCIAL_SCALE,AEPSi \nExit KNOWLEDGE_SCALE,AEPSi \nExit APPROPRIATE_ACTION_SCALE,AEPSi \nExitIS_SOCIAL_PROGRESS,AEPSi \nExitIS_KNOWLEDGE_PROGRESS,AEPSi \nExitIS_APPROPRIATE_ACTION_PROGRESS,AEPS 202223.2\nEntry only data\nEntry date,Ent SOCIAL_SCALE.1,Ent KNOWLEDGE_SCALE.1,Ent APPROPRIATE_ACTION_SCALE.1,TEIDS ID 2,Lookup from BDI3,BDI 3\nECO_Entry_DATE,BDI3 \nEntry SOCIAL_SCALE,BDI3\nEntry KNOWLEDGE_SCALE,BDI3\nEntry APPROPRIATE_ACTION_SCALE,Entrance\nBDI-3 S/E Std Dev (Z Score),Entrance\nBDI-3 Communication Std Dev,Entrance\nBDI-3 Cognition Std. Dev,Entrance\nCombined STD Dev for Comm & Cog,Entrance\nBDI-3 Adaptive Std. Dev.,Entrance\nBDI-3 Motor Std. Dev,Entrance\nCombined STD Dev for Adaptive & Motor,BDI 3\nECO_Exit_DATE,BDI3 \nExit SOCIAL_SCALE,BDI3\nExit KNOWLEDGE_SCALE,BDI3\nExit APPROPRIATE_ACTION_SCALE,BDI 3\nExitIS_SOCIAL_PROGRESS,BDI 3\nExitIS_KNOWLEDGE_PROGRESS,BDI 3 ExitIS_APPROPRIATE_ACTION_PROGRESS,Exit\nBDI-3 S/E Std Dev (Z Score),Exit\nBDI-3 Communication Std Dev,Exit\nBDI-3 Cognition Std. Dev,Exit\nCombined STD Dev for Comm & Cog,Exit\nBDI-3 Adaptive Std. Dev.,Exit\nBDI-3 Motor Std. Dev,Exit\nCombined STD Dev for Adaptive & Motor,Lookup from BDI2,BDI2 Entry Date,BDI-2\nEntry SOCIAL_SCALE,BDI-2\nEntry KNOWLEDGE_SCALE,BDI-2\nEntry APPROPRIATE_ACTION_SCALE,BDI2 Entrance S/E\nStd Dev (Zscore),BDI2 Entrance\nCommunication Std Dev. (Z Score),BDI2 Entrance\nCognition Std Dev. (Z Score),BDI2 Entrance\nK/S\nStd Dev (Zscore),BDI2 Entrance\nAdaptive Std Dev (Zscore),BDI2 Entrance\nMotor Std Dev (Zscore),BDI2 Entrance\nA/B\nStd Dev (Zscore)
0,GN,473991,NaN,1/7/2020,1.0,1.0,1.0,12/27/2022,7.0,6.0,7.0,Y,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/7/2020,Exit EO during FY,9/8/2023,NaN,NaN,NaN,Yes,44,47,1085.0,36.17,NaN,NaN,NaN,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17YX,16YX,17YX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,1,NaN,NaN,NaN,1.0,NaN,1,NaN,NaN,NaN,1.0,NaN,1,1340,1085,0,1/7/2020,1.0,1.0,1.0,Yes,Yes,12/27/2022,7.0,6.0,7.0,Yes,Yes,Yes,255.0,Yes,2/18/2020,1.0,1.0,1.0,11/14/2022,7.0,6.0,7.0,Y,Y,Y,1/7/2020,1,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GN,474186,NaN,2/13/2020,1.0,1.0,1.0,10/26/2023,7.0,7.0,7.0,Y,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/14/2020,Exit EO during FY,11/2/2023,NaN,NaN,NaN,Yes,46,48,1351.0,45.03,NaN,NaN,NaN,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17YX,17YX,17YX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,1,NaN,NaN,NaN,1.0,NaN,1,NaN,NaN,NaN,1.0,NaN,1,1388,1381,30,2/13/2020,1.0,1.0,1.0,Yes,Yes,11/16/2022,6.0,7.0,7.0,Yes,Yes,Yes,351.0,Yes,2/13/2020,2.0,1.0,2.0,10/20/2022,7.0,6.0,7.0,Y,Y,Y,1/14/2020,2,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10/26/2023,7.0,7,7,NaN,NaN,NaN,0.53,-0.6,-0.53,-0.57,0.8,-0.6,0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# df_eco["More than 182 days btwn ECO (continued) and Exit?"] == 'Yes'

0        True
1        True
2        True
3        True
4        True
        ...
9994    False
9995    False
9996    False
9997    False
9998    False
Name: More than 182 days btwn ECO (continued) and Exit?, Length: 9999, dtype: bool

In [ ]:
# df_merge_all = pd.merge(df_merge, df_eco, left_on='Student TEIDS ID', right_on='CHILD_ID', how='inner')
# df_merge_all

In [12]:
#bdi2 data set with required columns
df_bdi2_data = df_bdi2[['Student TEIDS ID','domainText','testDate','rawScore','DQScore','ZScore']]
df_bdi2_data

# pivot = df_bdi2_data.pivot_table(values=['rawScore', 'DQScore', 'ZScore'], 
#                                  columns='domainText', 
#                                  index='Student TEIDS ID', 
#                                  aggfunc='first')
# pivot.head(5)

,Student TEIDS ID,domainText,testDate,rawScore,DQScore,ZScore
0,52101,Self-Care,2/25/2022,2.0,NaN,-1.33
1,52101,Adult Interaction,2/25/2022,14.0,NaN,1.67
2,52101,Self-Concept and Social Role,2/25/2022,6.0,NaN,0.33
3,52101,Receptive Communication,2/25/2022,4.0,NaN,-1.33
4,52101,Expressive Communication,2/25/2022,1.0,NaN,-2.00
...,...,...,...,...,...,...
325681,NaN,Communication,NaN,24.0,56.0,-2.93
325682,NaN,Motor,NaN,70.0,88.0,-0.80
325683,NaN,Perceptual Motor,NaN,NaN,NaN,NaN
325684,NaN,Cognitive,NaN,32.0,80.0,-1.33
325685,NaN,Reasoning and Academic Skills,NaN,NaN,NaN,NaN

In [14]:
#bdi data frame converted  rows as columns
score_columns = ['rawScore', 'DQScore', 'ZScore']
#Melt the DataFrame to long format
df_melted = df_bdi2_data.melt(id_vars=["Student TEIDS ID","domainText"], 
                              value_vars=score_columns, 
                              var_name="ScoreType", 
                              value_name="Score")
df_melted["ColumnName"] = df_melted["domainText"] + " " + df_melted["ScoreType"]
#Pivot the data to have 'Student TEIDS ID' as rows and dynamic columns
df_pivoted = df_melted.pivot_table(index="Student TEIDS ID", 
                                   columns="ColumnName",
                                   values="Score", 
                                   aggfunc="first")
df_pivoted.columns = df_pivoted.columns.get_level_values(0)
df_bdi2_result = df_pivoted.reset_index()
df_bdi2_result

ColumnName,Student TEIDS ID,Adaptive DQScore,Adaptive ZScore,Adaptive rawScore,Adult Interaction ZScore,Adult Interaction rawScore,Attention and Memory ZScore,Attention and Memory rawScore,Cognitive DQScore,Cognitive ZScore,...,Personal-Social rawScore,Reasoning and Academic Skills ZScore,Reasoning and Academic Skills rawScore,Receptive Communication ZScore,Receptive Communication rawScore,Screener Test Total Score rawScore,Self-Care ZScore,Self-Care rawScore,Self-Concept and Social Role ZScore,Self-Concept and Social Role rawScore
0,52101,80.0,-1.33,2.0,1.67,14.0,-0.33,6.0,97.0,-0.20,...,20.0,NaN,NaN,-1.33,4.0,NaN,-1.33,2.0,0.33,6.0
1,416571,65.0,-2.33,33.0,-1.67,37.0,-2.00,28.0,66.0,-2.27,...,65.0,-2.00,8.0,-2.00,27.0,NaN,-2.00,32.0,-2.67,20.0
2,419105,95.0,-0.33,53.0,-0.67,44.0,-1.00,35.0,77.0,-1.53,...,82.0,-1.67,10.0,-1.00,32.0,NaN,0.00,46.0,-1.67,32.0
3,419833,105.0,0.33,57.0,-0.33,45.0,0.67,40.0,104.0,0.27,...,97.0,-0.67,12.0,2.00,41.0,NaN,0.67,47.0,0.33,44.0
4,423227,65.0,-2.33,32.0,-3.00,20.0,-2.33,26.0,59.0,-2.73,...,38.0,-2.67,4.0,-3.00,22.0,NaN,-1.67,32.0,-2.67,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17353,571437,90.0,-0.67,36.0,-2.00,30.0,-0.67,31.0,88.0,-0.80,...,57.0,-0.67,10.0,-1.00,26.0,NaN,-2.00,26.0,-1.67,18.0
17354,580447,60.0,-2.67,0.0,-0.67,5.0,-1.00,4.0,83.0,-1.13,...,6.0,NaN,NaN,-1.00,5.0,NaN,-2.67,0.0,-2.33,1.0
17355,580709,70.0,-2.00,35.0,-2.67,30.0,-2.33,26.0,68.0,-2.13,...,56.0,-1.00,12.0,-3.00,20.0,NaN,-2.33,31.0,-3.00,12.0
17356,650159,93.0,-0.47,38.0,0.33,43.0,-1.00,30.0,84.0,-1.07,...,74.0,-0.67,9.0,-1.00,26.0,NaN,-1.00,30.0,-0.33,27.0
17357,xxxxxxx,90.0,-0.67,22.0,1.00,32.0,0.00,26.0,100.0,0.00,...,45.0,NaN,NaN,-1.33,17.0,NaN,-0.67,22.0,-0.67,13.0

In [ ]:
# bdi2_student_no=df_bdi2_data['Student TEIDS ID'].dropna()
# bdi2_student_no

### BDI3 data frame

In [16]:
# bdi3 = pd.read_csv('../projects/teis-Jswine08/Data/NSS data_BDI3 Scores 20230101 20240630_Compiled_20241107.xlsx - BDI3 Scores 20230101 20240630_C.csv')
df_bdi3 = pd.read_csv('../data/data_BDI3.csv')
df_bdi3.head(3)

C:\Users\Praveena\AppData\Local\Temp\ipykernel_19428\668784585.py:2: DtypeWarning: Columns (9,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df_bdi3 = pd.read_csv('../data/data_BDI3.csv')

,Last Name,First Name,Gender,Date of Birth,Location - Root Level (PC),Location - Root Level (AH),Location - Sub Level 1,Location - Sub Level 2,Location - Sub Level 3,Child ID,...,Cognitive-Perception and Concepts RS,Cognitive-Perception and Concepts SS,Cognitive-Perception and Concepts PR,Cognitive-Perception and Concepts AE,Cognitive-Perception and Concepts RDI,Cognitive-Perception and Concepts CSS,Cognitive-Perception and Concepts CSS 90%,Cognitive-Perception and Concepts Z-Score,Cognitive-Perception and Concepts T-Score,Cognitive-Perception and Concepts NCE
0,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Greater Nashville,NaN,NaN,474074,...,13.0,4.0,2,25,Jan-90,464.0,450 - 479,2.00,30.0,8
1,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Greater Nashville,NaN,NaN,474186,...,24.0,8.0,25,40,68/90,510.0,502 - 517,0.67,43.0,36
2,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Upper Cumberland,NaN,NaN,474641,...,26.0,9.0,37,42,77/90,514.0,507 - 522,0.33,47.0,43

In [18]:
bdi3_new_columns = df_bdi3[['TEIDS Child ID','Motor-Gross Motor RS', 'Adaptive-Self Care RS', 'Motor-Fine Motor RS', 'Motor-Perceptual Motor RS', 'Adaptive-Personal Responsibility RS', 'Social Emotional-Adult Interaction RS', 'Social Emotional-Peer Interaction RS','Social Emotional-Self Concept / Social Role RS','Communication-Receptive Communication RS','Communication-Expressive Communication RS','Cognitive-Attention and Memory RS','Cognitive-Reasoning / Academic Skills RS','Cognitive-Perception and Concepts RS', 'TEIDS Child ID', 'Motor-Fine Motor Date of Testing', 'BDI-3 Total Developmental Quotient', 'Adaptive Z-Score', 'Social-Emotional Z-Score', 'Communication Z-Score', 'Motor Z-Score', 'Cognitive Z-Score', 'Adaptive-Self Care Z-Score', 'Adaptive-Personal Responsibility Z-Score', 'Social Emotional-Adult Interaction Z-Score', 'Social Emotional-Peer Interaction Z-Score', 'Social Emotional-Self Concept / Social Role Z-Score', 'Communication-Receptive Communication Z-Score', 'Communication-Expressive Communication Z-Score', 'Motor-Gross Motor Z-Score', 'Motor-Fine Motor Z-Score', 'Motor-Perceptual Motor Z-Score', 'Cognitive-Attention and Memory Z-Score', 'Cognitive-Reasoning / Academic Skills Z-Score', 'Cognitive-Perception and Concepts Z-Score', 'Cognitive-Perception and Concepts Date of Testing']]
bdi3_new_columns['TEIDS Child ID'].dropna()
bdi3_new_columns

,TEIDS Child ID,Motor-Gross Motor RS,Adaptive-Self Care RS,Motor-Fine Motor RS,Motor-Perceptual Motor RS,Adaptive-Personal Responsibility RS,Social Emotional-Adult Interaction RS,Social Emotional-Peer Interaction RS,Social Emotional-Self Concept / Social Role RS,Communication-Receptive Communication RS,...,Social Emotional-Self Concept / Social Role Z-Score,Communication-Receptive Communication Z-Score,Communication-Expressive Communication Z-Score,Motor-Gross Motor Z-Score,Motor-Fine Motor Z-Score,Motor-Perceptual Motor Z-Score,Cognitive-Attention and Memory Z-Score,Cognitive-Reasoning / Academic Skills Z-Score,Cognitive-Perception and Concepts Z-Score,Cognitive-Perception and Concepts Date of Testing
0,474074.0,64.0,38.0,34.0,11.0,30.0,47.0,26.0,36.0,22.0,...,0.67,2.33,1.67,0.67,0.67,1.67,1.00,0.33,2.00,9/13/2023
1,474186.0,65.0,51.0,37.0,17.0,27.0,46.0,27.0,41.0,42.0,...,0.00,0.33,0.67,0.67,0.33,0.33,1.00,0.33,0.67,10/26/2023
2,474641.0,67.0,39.0,41.0,18.0,15.0,42.0,13.0,37.0,47.0,...,0.33,0.00,0.33,0.33,0.33,0.33,0.33,0.67,0.33,7/31/2023
3,474848.0,58.0,27.0,39.0,19.0,6.0,39.0,15.0,21.0,38.0,...,1.67,0.33,0.33,1.00,0.33,0.33,0.67,0.00,1.33,8/4/2023
4,474967.0,50.0,30.0,31.0,10.0,10.0,38.0,18.0,28.0,20.0,...,1.00,2.33,2.00,2.33,1.00,2.00,1.00,1.67,2.33,7/31/2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34974,NaN,59.0,32.0,31.0,10.0,8.0,33.0,22.0,26.0,11.0,...,0.67,3.00,2.67,0.00,0.00,1.33,1.00,1.33,2.00,11/29/2023
34975,NaN,54.0,25.0,21.0,12.0,2.0,30.0,6.0,13.0,9.0,...,2.67,3.00,3.00,1.00,2.00,0.33,2.67,1.00,2.00,12/1/2023
34976,NaN,61.0,34.0,26.0,12.0,14.0,32.0,9.0,29.0,33.0,...,0.33,0.00,0.33,0.00,1.67,0.33,0.67,0.00,1.67,12/4/2023
34977,NaN,43.0,23.0,16.0,NaN,NaN,29.0,NaN,16.0,15.0,...,0.67,0.67,0.00,0.00,1.33,NaN,0.00,NaN,0.67,12/6/2023
34978,NaN,52.0,30.0,28.0,12.0,21.0,46.0,24.0,40.0,29.0,...,1.67,0.33,1.00,0.67,0.33,0.33,1.33,0.33,0.67,4/9/2024

In [59]:
bdi3_new_columns.dtypes

TEIDS Child ID                                         float64
Motor-Gross Motor RS                                   float64
Adaptive-Self Care RS                                  float64
Motor-Fine Motor RS                                    float64
Motor-Perceptual Motor RS                              float64
Adaptive-Personal Responsibility RS                    float64
Social Emotional-Adult Interaction RS                  float64
Social Emotional-Peer Interaction RS                   float64
Social Emotional-Self Concept / Social Role RS         float64
Communication-Receptive Communication RS               float64
Communication-Expressive Communication RS              float64
Cognitive-Attention and Memory RS                      float64
Cognitive-Reasoning / Academic Skills RS               float64
Cognitive-Perception and Concepts RS                   float64
TEIDS Child ID                                         float64
Motor-Fine Motor Date of Testing                        object
BDI-3 Total Developmental Quotient                     float64
Adaptive Z-Score                                       float64
Social-Emotional Z-Score                               float64
Communication Z-Score                                  float64
Motor Z-Score                                          float64
Cognitive Z-Score                                      float64
Adaptive-Self Care Z-Score                             float64
Adaptive-Personal Responsibility Z-Score               float64
Social Emotional-Adult Interaction Z-Score             float64
Social Emotional-Peer Interaction Z-Score              float64
Social Emotional-Self Concept / Social Role Z-Score    float64
Communication-Receptive Communication Z-Score          float64
Communication-Expressive Communication Z-Score         float64
Motor-Gross Motor Z-Score                              float64
Motor-Fine Motor Z-Score                               float64
Motor-Perceptual Motor Z-Score                         float64
Cognitive-Attention and Memory Z-Score                 float64
Cognitive-Reasoning / Academic Skills Z-Score          float64
Cognitive-Perception and Concepts Z-Score              float64
Cognitive-Perception and Concepts Date of Testing       object
dtype: object

In [20]:
bdi3_students_no=bdi3_new_columns['TEIDS Child ID'].dropna()
bdi3_students_no

       TEIDS Child ID  TEIDS Child ID
0            474074.0        474074.0
1            474186.0        474186.0
2            474641.0        474641.0
3            474848.0        474848.0
4            474967.0        474967.0
...               ...             ...
34656        583637.0        583637.0
34657        583639.0        583639.0
34658        583720.0        583720.0
34659        564852.0        564852.0
34660        576055.0        576055.0

[34661 rows x 2 columns]

### ECO data frame

In [61]:
df_eco = pd.read_csv('../data/NSS_ECO.csv')
#df_eco.head(3)
df_eco_data = df_eco[['CHILD_ID','ECO_Entry_DATE','ECO_Exit_DATE','Initial IFSP Date','TEIDS\nECO_Entry_DATE','BDI 3\nECO_Entry_DATE','BDI 3\nECO_Exit_DATE','BDI2 Entry Date']]
df_eco_filtered = df_eco_data[df_eco_data['BDI 3\nECO_Exit_DATE'].notna()]
df_eco_filtered#.head(100)

C:\Users\Praveena\AppData\Local\Temp\ipykernel_19428\2987396716.py:1: DtypeWarning: Columns (89,93,94,95,98,102,106,107,108,109,110,128,129,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  df_eco = pd.read_csv('../data/NSS_ECO.csv')

,CHILD_ID,ECO_Entry_DATE,ECO_Exit_DATE,Initial IFSP Date,TEIDS\nECO_Entry_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date
1,474186,2/13/2020,10/26/2023,1/14/2020,2/13/2020,NaN,10/26/2023,NaN
4,474848,7/9/2021,8/4/2023,7/9/2021,7/9/2021,NaN,8/4/2023,6/22/2021
5,474967,1/31/2020,7/31/2023,1/31/2020,1/31/2020,NaN,7/31/2023,1/7/2020
6,475636,9/3/2020,7/19/2023,9/3/2020,9/3/2020,NaN,7/19/2023,NaN
7,475907,2/20/2020,11/15/2023,2/20/2020,2/20/2020,NaN,11/15/2023,1/17/2020
...,...,...,...,...,...,...,...,...
9638,569363,12/14/2023,10/30/2024,1/26/2024,NaN,12/14/2023,10/30/2024,NaN
9646,569449,12/21/2023,10/31/2024,1/25/2024,NaN,12/21/2023,10/31/2024,NaN
9688,570207,NaN,NaN,2/2/2024,NaN,NaN,10/24/2024,NaN
9692,570254,1/4/2024,10/23/2024,2/12/2024,NaN,1/4/2024,10/23/2024,NaN
9714,570632,1/11/2024,10/29/2024,2/7/2024,NaN,1/11/2024,10/29/2024,NaN

In [63]:
df_eco_filtered.dtypes

CHILD_ID                  int64
ECO_Entry_DATE           object
ECO_Exit_DATE            object
Initial IFSP Date        object
TEIDS\nECO_Entry_DATE    object
BDI 3\nECO_Entry_DATE    object
BDI 3\nECO_Exit_DATE     object
BDI2 Entry Date          object
dtype: object

In [67]:
# Convert ECO_Entry_DATE and ECO_Exit_DATE columns to datetime format
df_eco_filtered['ECO_Entry_DATE'] = pd.to_datetime(df_eco_filtered['ECO_Entry_DATE'], errors='coerce')
df_eco_filtered['ECO_Exit_DATE'] = pd.to_datetime(df_eco_filtered['ECO_Exit_DATE'], errors='coerce')

# Subtract ECO_Entry_DATE from ECO_Exit_DATE to get the difference
df_eco_filtered['Days_Difference'] = (df_eco_filtered['ECO_Exit_DATE'] - df_eco_filtered['ECO_Entry_DATE']).dt.days
df_filtered_180 = df_eco_filtered[df_eco_filtered['Days_Difference'] > 180]
df_filtered_180
# df_filtered_6months = df_eco_filtered[df_eco_filtered['More than 182 days btwn ECO (continued) and Exit?'] == 'Yes']
# df_filtered_yes

C:\Users\Praveena\AppData\Local\Temp\ipykernel_19428\3912415056.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_eco_filtered['ECO_Entry_DATE'] = pd.to_datetime(df_eco_filtered['ECO_Entry_DATE'], errors='coerce')
C:\Users\Praveena\AppData\Local\Temp\ipykernel_19428\3912415056.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_eco_filtered['ECO_Exit_DATE'] = pd.to_datetime(df_eco_filtered['ECO_Exit_DATE'], errors='coerce')
C:\Users\Praveena\AppData\Local\Temp\ipykernel_19428\3912415056.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_eco_filtered['Days_Difference'] = (df_eco_filtered['ECO_Exit_DATE'] - df_eco_filtered['ECO_Entry_DATE']).dt.days

,CHILD_ID,ECO_Entry_DATE,ECO_Exit_DATE,Initial IFSP Date,TEIDS\nECO_Entry_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date,Days_Difference
1,474186,2020-02-13,2023-10-26,1/14/2020,2/13/2020,NaN,10/26/2023,NaN,1351.0
4,474848,2021-07-09,2023-08-04,7/9/2021,7/9/2021,NaN,8/4/2023,6/22/2021,756.0
5,474967,2020-01-31,2023-07-31,1/31/2020,1/31/2020,NaN,7/31/2023,1/7/2020,1277.0
6,475636,2020-09-03,2023-07-19,9/3/2020,9/3/2020,NaN,7/19/2023,NaN,1049.0
7,475907,2020-02-20,2023-11-15,2/20/2020,2/20/2020,NaN,11/15/2023,1/17/2020,1364.0
...,...,...,...,...,...,...,...,...,...
9628,569251,2023-12-26,2024-09-25,1/5/2024,NaN,12/26/2023,9/25/2024,NaN,274.0
9638,569363,2023-12-14,2024-10-30,1/26/2024,NaN,12/14/2023,10/30/2024,NaN,321.0
9646,569449,2023-12-21,2024-10-31,1/25/2024,NaN,12/21/2023,10/31/2024,NaN,315.0
9692,570254,2024-01-04,2024-10-23,2/12/2024,NaN,1/4/2024,10/23/2024,NaN,293.0
9714,570632,2024-01-11,2024-10-29,2/7/2024,NaN,1/11/2024,10/29/2024,NaN,292.0

In [69]:

df_filtered_180['Entry Test Date'] = df_filtered_180['BDI 3\nECO_Entry_DATE'].where(df_filtered_180['BDI 3\nECO_Entry_DATE'] == df_filtered_180['ECO_Entry_DATE'], other = df_filtered_180['BDI2 Entry Date'])
filter_eco_new = df_filtered_180[df_filtered_180['Entry Test Date'].notna()]
filter_eco_new

C:\Users\Praveena\AppData\Local\Temp\ipykernel_19428\361642086.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_180['Entry Test Date'] = df_filtered_180['BDI 3\nECO_Entry_DATE'].where(df_filtered_180['BDI 3\nECO_Entry_DATE'] == df_filtered_180['ECO_Entry_DATE'], other = df_filtered_180['BDI2 Entry Date'])

,CHILD_ID,ECO_Entry_DATE,ECO_Exit_DATE,Initial IFSP Date,TEIDS\nECO_Entry_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date,Days_Difference,Entry Test Date
4,474848,2021-07-09,2023-08-04,7/9/2021,7/9/2021,NaN,8/4/2023,6/22/2021,756.0,6/22/2021
5,474967,2020-01-31,2023-07-31,1/31/2020,1/31/2020,NaN,7/31/2023,1/7/2020,1277.0,1/7/2020
7,475907,2020-02-20,2023-11-15,2/20/2020,2/20/2020,NaN,11/15/2023,1/17/2020,1364.0,1/17/2020
8,476193,2020-02-24,2023-02-27,2/24/2020,2/24/2020,NaN,2/27/2023,1/23/2020,1099.0,1/23/2020
17,478004,2020-03-31,2023-03-09,3/31/2020,3/31/2020,NaN,3/9/2023,2/20/2020,1073.0,2/20/2020
...,...,...,...,...,...,...,...,...,...,...
9628,569251,2023-12-26,2024-09-25,1/5/2024,NaN,12/26/2023,9/25/2024,NaN,274.0,12/26/2023
9638,569363,2023-12-14,2024-10-30,1/26/2024,NaN,12/14/2023,10/30/2024,NaN,321.0,12/14/2023
9646,569449,2023-12-21,2024-10-31,1/25/2024,NaN,12/21/2023,10/31/2024,NaN,315.0,12/21/2023
9692,570254,2024-01-04,2024-10-23,2/12/2024,NaN,1/4/2024,10/23/2024,NaN,293.0,1/4/2024
9714,570632,2024-01-11,2024-10-29,2/7/2024,NaN,1/11/2024,10/29/2024,NaN,292.0,1/11/2024

In [57]:
#bdi3_new_columns
merge_eco_bdi3 = pd.merge(bdi3_new_columns, filter_eco_new, left_on='TEIDS Child ID', right_on='CHILD_ID', how='inner')
merge_eco_bdi3
# df_merge

ValueError: The column label 'TEIDS Child ID' is not unique.